<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="/css/styles.css">
    <title>Student Administration</title>
</head>
<body>

    <!-- Header Section -->

    <header>

        <!-- Navigation Bar -->

        <nav class="navigation">
            <a href="/">KEA</a>
            <a href="overview">Students</a>
        </nav>

    </header>


    <div class="container">
        <h1>Students</h1>

        <h3>Enrolled students at KEA</h3>

        <a href="/createStudent">
            <button class ="btn btn-create">Create</button>
        </a>

        <br>
        <br>

        <table>
            <tr>
                <th>ID</th>
                <th>First name</th>
                <th>Last name</th>
                <th>Enrollment date</th>
                <th>Options</th>
            </tr>

            <tr th:each="student : ${student}">
                <td th:text="${student.id}"></td>
                <td th:text="${student.firstName}"></td>
                <td th:text="${student.lastName}"></td>
                <th th:text="${#dates.format(student.enrollmentDate, 'yyyy-MM-dd')}"></th>
                <td>
                    <!-- <a th:href="@{/student(id=${student.id})}"><button class="btn">Details</button></a> -->
                        <a th:href="@{/details(id=${student.id})}">
                            <button class="btn btn-details">Details</button>
                        </a>
                        <a th:href="@{/updateStudent(id=${student.id})}">
                            <button class ="btn btn-ed">Edit</button>
                        </a>
                        <a th:href="@{/deleteStudent(id=${student.id})}">
                            <button class="btn btn-del">Delete</button>
                        </a>
                    <!-- </a> -->
                </td>
            </tr>

            <!--
            <tr>
                <td>Jill</td>
                <td>Smith</td>
                <td>19/5-2020</td>
                <td><button>Click me</button></td>
            </tr>
            <tr>
                <td>Eve</td>
                <td>Jackson</td>
                <td>11/6-2013</td>
                <th><button>Click me</button></th>
            </tr>
            <tr>
                <td>Karl</td>
                <td>Johnson</td>
                <td>11/6-2013</td>
                <td><button>Click me</button></td>
            </tr>
            -->

        </table>

    </div>



</body>
</html>